<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ title }} | To-Do List (Adonis.js)</title>
    <meta name="author" content="Snarloff">
    {{ style('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css') }}
  </head>
  <body>

    @include('includes/navbar')

    <div class="container">
      @!section('content')
    </div>

    <footer>
      {{ script('https://code.jquery.com/jquery-3.3.1.slim.min.js') }}
      {{ script('https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js') }}
      {{ script('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js') }}
    </footer>

  </body>
</html>
